<div class="element-bg-img">
  <img [src]="currentHotel.picture" alt="" class="img-responsive" />
</div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li (click)="searchByName()" *ngIf="!byNameIsClicked">
        <a href="#">By Name</a>
      </li>
      <li *ngIf="byNameIsClicked">
        <input
          type="text"
          placeholder="by name"
          [value]="byName"
          #inputByNameRef
          (keyup)="searchingByName(inputByNameRef.value)"
        />
        <button (click)="closeSearchByName()">close</button>
      </li>
      <li (click)="searchByDesc()" *ngIf="!byDescIsClicked">
        <a href="#">By Description</a>
      </li>
      <li *ngIf="byDescIsClicked">
        <input
          type="text"
          placeholder="by name"
          [value]="byDescription"
          #inputByDescRef
          (keyup)="searchingByDesc(inputByDescRef.value)"
        />
        <button (click)="closeSearchByDesc()">close</button>
      </li>
      <li (click)="searchByStars()" *ngIf="!byStarsIsClicked">
        <a href="#">By Stars</a>
      </li>
      <li *ngIf="byStarsIsClicked">
        <div>
          <mat-form-field>
            <mat-label>by stars</mat-label>
            <mat-select [(value)]="byStars">
              <mat-option
                *ngFor="let hotel of hotelsStars"
                [value]="hotel.value"
              >
                {{ hotel.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button (click)="closeSearchByStars()">close</button>
      </li>
    </ul>
  </div>
  <div class="village">
    <h3>Righteous indignation & like</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2">
        <div
          class="activity-row"
          *ngFor="
            let hotel of hotels | searchingHotel: byName:byDescription:byStars
          "
          (click)="selectHotel(hotel)"
          [ngClass]="{ 'active-hotel': currentHotel.id === hotel.id }"
        >
          <div class="activity-desc">
            <h5>{{ hotel.address }}</h5>
            <p>{{ hotel.title }}</p>
            <p>{{ hotel.description }}</p>
            <h6>Tel:{{ hotel.phone }}</h6>
          </div>
          <div class="activity-img">
            <ul>
              <li><img [src]="hotel.photos[0]" alt="" /></li>
              <li><img [src]="hotel.photos[1]" alt="" /></li>
            </ul>
          </div>
          <div class="clear"></div>
          <button
            class="add-to-favorite"
            (click)="addToFavoriteHotels(hotel.id); $event.stopPropagation()"
          >
            to favorite
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
